<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267563013930-90gpn4nddmepu61t7ce4t7nac9dpgmsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267563013930-90gpn4nddmepu61t7ce4t7nac9dpgmsa</string>
	<key>API_KEY</key>
	<string>AIzaSyDZFphOPsibFOO40SdVJfRF-lVgH21riJk</string>
	<key>GCM_SENDER_ID</key>
	<string>267563013930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.cs342.sample</string>
	<key>PROJECT_ID</key>
	<string>cs342-master-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>cs342-master-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267563013930:ios:1d0fb0f67521aad3ccb053</string>
	<key>DATABASE_URL</key>
	<string>https://cs342-master-sample.firebaseio.com</string>
</dict>
</plist>